
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <title>Trang quản trị-HutechFood</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Thống kê</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tổng quan</li>
                    </ul>
                </div>
            </div>
            <!--/header-->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="card widget-stat">
                        <div class="body">
                            <div class="media">
                                <div class="media-icon bg-cyan">
                                    <i class="zmdi zmdi-shopping-basket zmdi-hc-2x"></i>
                                </div>
                                <div class="media-text">
                                    <span class="title">Đơn đặt hàng</span>
                                    <span class="value">1,305</span>
                                </div>
                            </div>
                            <p class="media-footer text-success">
                                <i class="zmdi zmdi-trending-up"></i> 13%
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="card widget-stat">
                        <div class="body">
                            <div class="media">
                                <div class="media-icon bg-amber">
                                    <i class="zmdi zmdi-account-o zmdi-hc-2x"></i>
                                </div>
                                <div class="media-text">
                                    <span class="title">Khách hàng</span>
                                    <span class="value">2,105</span>
                                </div>
                            </div>
                            <p class="media-footer text-success">
                                <i class="zmdi zmdi-trending-up"></i> 18%
                              
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="card widget-stat">
                        <div class="body">
                            <div class="media">
                                <div class="media-icon bg-blue">
                                    <i class="zmdi zmdi-label zmdi-hc-2x"></i>
                                </div>
                                <div class="media-text">
                                    <span class="title">View</span>
                                    <span class="value">4,054</span>
                                </div>
                            </div>
                            <p class="media-footer text-danger">
                                <i class="zmdi zmdi-trending-down"></i> 12%
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="card widget-stat">
                        <div class="body">
                            <div class="media">
                                <div class="media-icon bg-green">
                                    <i class="zmdi zmdi-money zmdi-hc-2x"></i>
                                </div>
                                <div class="media-text">
                                    <span class="title">MN</span>
                                    <span class="value">$63.23M</span>
                                </div>
                            </div>
                            <p class="media-footer text-success">
                                <i class="zmdi zmdi-trending-up"></i> 21%
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>